<footer class="text-center py-4 bg-dark text-white">
  <div class="container">
    <div class="logo-container mb-3">
      <img src="/MEDIA/Logos/zllogo.png" alt="Zama Luthuli Attorneys Logo" style="max-height: 50px;">
    </div>
    <p class="text-whitesmoke mb-2">© <%= new Date().getFullYear() %> Zama Luthuli Attorneys. All rights reserved.</p>
    <div class="footer-links">
      <a href="/contact" class="text-whitesmoke mx-2">Contact Us</a>
      <a href="/privacy-policy" class="text-whitesmoke mx-2">Privacy Policy</a>
      <a href="/terms-of-service" class="text-whitesmoke mx-2">Terms of Service</a>
    </div>
    <p class="text-whitesmoke mt-2">Email: admin@zluthuliattorneys.co.za/ | Phone: +27 31 007 6257</p>
    <div class="logo-container mb-3">
      <a href="https://martinmngadi.com/" target="_blank">
          <img src="/MEDIA/Logos/dlkv-whitesmoke-nobg.png" alt="dlkv Logo" style="max-height: 50px;">
      </a>
    </div>
  </div>
</footer>